<div class="course">
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by4">
        <%= link_to image_tag(course.thumbnail), course %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= course.title %></p>
          <p class="subtitle is-6"><%= course.author %></p>
        </div>
      </div>

      <div class="content">
         <% if subscribed? %>

          <% if user_added_to_library?(current_user, course) %>

            <%= link_to 'Remove from library', add_course_path(course, type: "remove"), method: :put, class: "button is-danger is-fullwidth" %>

            <% if controller.controller_name == "library" %>
              <%= link_to 'Download', '#', class:"button is-success is-fullwidth mt1" %>
            <% end %>

          <% else %>
            <%= link_to 'Add to library', add_course_path(course, type: "add"), method: :put, class: "button is-link is-fullwidth" %>
          <% end %>

        <% else %>
          <%= link_to 'Add to library', new_user_registration_path, class: "button is-link is-fullwidth" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="controls pt2">
    <% if admin? %>
      <%= link_to 'Edit', edit_course_path(course), class:"button is-small is-rounded" %>
      <%= link_to 'Delete', course, method: :delete, data: { confirm: "Are you sure? "}, class:"button is-small is-rounded" %>
    <% end %>
  </div>
</div>