<div class="section">
  <div class="columns">
    <div class="column is-4">
      <%= image_tag @course.thumbnail.variant(resize: "320x495"), alt: "#{@course.title} by #{@course.author}" %>
    </div>
    <div class="column">
      <h1 class="title is-2"><%= @course.title %><h1>

        <div class="content">
          <%= render 'course-controls', course: @course %>
          <p><strong>Description:</strong></p>
          <%= @course.description %>
        </div>

      <% if admin? %>
        <%= link_to 'Edit', edit_course_path(@course) %> |
      <% end %>
      </div>
    </div>
</div>